<html>
<form id="formspree" style="font-size: 1.5em !important; padding: 0px 25px 25px 0px" action="//formspree.io/nickolassaraev@gmail.com" method="POST">
    <input style="width: 50%; border-radius: 1px !important" placeholder="Your best email here" id="formspree" type="email" name="email"> <input style="border-radius: 1px; !important" type="submit" value="Join">
</form>

<script>
    var form =  document.getElementById('formspree');
    contactform.setAttribute('action', '//formspree.io/' + 'nickolassaraev' + '@' + 'gmail' + '.' + 'com');
</script>

</html>
